"*":
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 16
  "exception-reporting":
    userId: "7e77226d-493a-430a-b785-d48a79eb32c8"
  github:
    remoteFetchProtocol: "ssh"
  welcome:
    showOnStartup: false
